Repository mochajs/mocha, pull requests merged in 2018-11, with the labels that each got.

#3546 Update '--no-timeouts' argument description
  bin/_mocha
  docs/index.md
Labels: documentation, node.js, semver-patch, usability

#3544 build(ESLint/Git): Ignore JSDoc output directory
  .eslintignore
  .gitignore
Labels: chore, developer-experience, needs-review, semver-patch

#3543 ci(Travis/Appveyor): Update Node versions in CI matrix
  .travis.yml
  appveyor.yml
Labels: chore, needs-review, semver-patch

#3395 fix runner to emit start/end event
  lib/runner.js
  test/unit/mocha.spec.js
Labels: confirmed-bug, semver-patch, usability

#3550 Warn that suites cannot return a value
  lib/interfaces/common.js
  lib/utils.js
  test/integration/deprecate.spec.js
  test/integration/fixtures/deprecate.fixture.js
  test/integration/fixtures/suite/suite-returning-value.fixture.js
  test/integration/suite.spec.js
Labels: semver-patch, usability

#3549 upgrade jekyll; closes #3548
  .ruby-version
  Gemfile
  Gemfile.lock
Labels: chore, security, semver-patch

#3428 Show diff in xunit
  lib/reporters/xunit.js
  test/reporters/xunit.spec.js
Labels: needs-review, reporter, semver-minor

#3528 Extract runReporter to capture output under tests
  test/reporters/doc.spec.js
  test/reporters/dot.spec.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/markdown.spec.js
  test/reporters/min.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
  test/reporters/spec.spec.js
  test/reporters/tap.spec.js
Labels: qa, refactor, reporter, semver-patch

#3547 update list of published files in package.json
  package.json
Labels: semver-patch

#3536 Prevent timeout value from skirting limit check
  lib/runnable.js
  lib/utils.js
  test/unit/runnable.spec.js
Labels: confirmed-bug, needs-review, semver-patch

#3552 Make TAP reporter TAP13-capable
  lib/reporters/tap.js
  test/integration/fixtures/reporters.fixture.js
  test/integration/reporters.spec.js
  test/reporters/tap.spec.js
Labels: feature, reporter, semver-minor

#3535 Add ability to query Mocha version programmatically
  lib/mocha.js
  package-lock.json
  package.json
Labels: feature, semver-minor, usability

#3563 ms module added instead of internal ms js #3557
  lib/ms.js
  lib/reporters/base.js
  lib/runnable.js
  lib/suite.js
  package-lock.json
  package.json
  test/unit/ms.spec.js
  test/unit/runnable.spec.js
Labels: refactor, semver-patch

#3577 ci(appveyor.yml): Fix Growl install
  appveyor.yml
Labels: confirmed-bug, qa, semver-patch

#3579 ci(.travis.yml,appveyor.yml): Use current npm version in CI scripts
  .travis.yml
  appveyor.yml
Labels: chore, qa, semver-patch

#3591 use `--forbid-only in CI
  package-scripts.js
Labels: qa, semver-patch

#3590 ensure all JS (and JSON) files are prettified pre-commit
  .lintstagedrc.json
Labels: chore, semver-patch

#3589 add script to automatically dump CLI usage into documentation
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/dedefine.js
  scripts/docs-update-toc.js
  scripts/preprocess-docs.js
Labels: documentation, semver-patch
