Repository mochajs/mocha, pull requests merged in 2018-10, with the labels that each got.

#3361 Clarify docs for watch that it watches files in the CWD
  bin/_mocha
  docs/index.md
Labels: documentation, semver-patch

#3486 fix slow test for dot reporter
  lib/reporters/dot.js
  test/reporters/dot.spec.js
Labels: qa, reporter, semver-patch

#3525 Improve Contributing Docs
  .github/CONTRIBUTING.md
  README.md
Labels: documentation, semver-patch

#3477 Remove stdout: prefix from browser reporter logs
  browser-entry.js
Labels: browser, confirmed-bug, reporter, semver-patch

#3471 #3320 Native types exceptions can crash Mocha runner
  lib/runner.js
  test/unit/throw.spec.js
Labels: semver-patch, usability

#3517 3483: Squelch CI Growl-related spawn errors
  .travis.yml
  appveyor.yml
Labels: qa, semver-patch

#3527 test(base.spec.js): Fix Base reporter test failure due to timeout
  test/reporters/base.spec.js
Labels: qa, semver-patch

#3529 update commander to show empty array as default value
  bin/_mocha
  docs/index.md
  package-lock.json
  package.json
Labels: semver-patch, usability

#3533 refactor(bin/options.js): Improve readability and documentation
  bin/options.js
Labels: needs-review, refactor, semver-patch

#3532 refactor(json-stream.js): Consistent output stream usage
  lib/reporters/json-stream.js
Labels: needs-review, refactor, reporter, semver-patch
