Repository mochajs/mocha, pull requests merged in 2018-12, with the labels that each got.

#3458 Refactor statistics
  lib/reporters/base.js
  lib/runner.js
  lib/stats-collector.js
  test/reporters/helpers.js
  test/reporters/list.spec.js
  test/reporters/xunit.spec.js
Labels: reporter, semver-minor

#3466 update slow description
  docs/images/test-duration-range.png
  docs/index.md
Labels: documentation, semver-patch

#3225 Issue/2819 - Fix / Clarify this.skip behavior in before hooks
  docs/index.md
  lib/runner.js
  test/integration/fixtures/pending/skip-async-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-async-before-nested.fixture.js
  test/integration/fixtures/pending/skip-async-before.fixture.js
  test/integration/fixtures/pending/skip-async-beforeEach.fixture.js
  test/integration/fixtures/pending/skip-async-spec.fixture.js
  test/integration/fixtures/pending/skip-sync-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-sync-before-nested.fixture.js
  test/integration/fixtures/pending/skip-sync-before.fixture.js
  test/integration/fixtures/pending/skip-sync-beforeEach.fixture.js
  test/integration/fixtures/pending/skip-sync-spec.fixture.js
  test/integration/pending.spec.js
Labels: documentation, semver-major, usability

#3578 --forbid-only and --forbid-pending now handle suites properly
  lib/interfaces/common.js
  test/integration/fixtures/options/forbid-only/only-empty-suite.js
  test/integration/fixtures/options/forbid-pending/skip-empty-suite.js
  test/integration/helpers.js
  test/integration/options.spec.js
  test/reporters/base.spec.js
Labels: confirmed-bug, semver-patch

#3518 make isPromise support null as a parameter
  lib/utils.js
  test/unit/utils.spec.js
Labels: confirmed-bug, semver-patch

#3608 fix broken docs
  docs/index.md
  package-lock.json
  package.json
  scripts/markdown-magic.config.js
Labels: documentation, semver-patch

#3594 update assetgraph-builder to latest
  package-lock.json
  package-scripts.js
  package.json
  scripts/netlify-headers.js
Labels: documentation, semver-patch

#3613 make lib/stats-collector a private API
  lib/stats-collector.js
Labels: documentation, semver-minor

#3602 modified SIGINT handling #3570
  lib/cli/run-helpers.js
Labels: confirmed-bug, node.js, semver-patch

#3408 adding a "retry" event for a test that fails but can be retried; closes #2529
  lib/runner.js
  test/unit/runner.spec.js
Labels: feature, semver-minor

#3619 remove SIGINT handler for single runs; see #3570
  lib/cli/run-helpers.js
Labels: confirmed-bug, semver-patch

#2475 Dont count xunit failures as errors
  lib/reporters/xunit.js
  test/reporters/xunit.spec.js
Labels: confirmed-bug, reporter, semver-major

#3374 avoid global timers by way of ESLint; closes #3342
  .eslintrc.yml
  lib/reporters/base.js
  lib/reporters/html.js
  lib/reporters/xunit.js
  lib/runnable.js
  lib/stats-collector.js
  package-scripts.js
  test/integration/color.spec.js
  test/integration/file-utils.spec.js
  test/jsapi/index.js
  test/node-unit/color.spec.js
  test/node-unit/fs.spec.js
  test/unit/runnable.spec.js
Labels: qa, semver-patch

#3542 Growl: Web notifications & Desktop prerequisite software check
  assets/mocha-logo-96.png
  docs/index.md
  lib/browser/growl.js
  lib/growl.js
  lib/mocha.js
  package-scripts.js
  package.json
  scripts/package-json-cullify.js
  test/unit/mocha.spec.js
Labels: feature, node.js, refactor, semver-minor

#3633 upgrade supports-color; closes #1304
  package-lock.json
  package.json
Labels: confirmed-bug, node.js, semver-patch

#3580 Fix an error when fn===undefined
  lib/mocha.js
  test/unit/mocha.spec.js
Labels: confirmed-bug, reporter, semver-patch

#3628 add more tests for utils.deprecate
  .wallaby.js
  lib/utils.js
  package-scripts.js
  test/unit/utils.spec.js
Labels: qa, refactor, semver-patch
