Repository mochajs/mocha, pull requests merged in 2018-05, with the labels that each got.

#3356 #3354: Annotate when exceptions are caught but ignored
  bin/options.js
  lib/browser/progress.js
  lib/runner.js
Labels: refactor, semver-patch

#3380 update all dependencies
  lib/reporters/base.js
  package-lock.json
  package.json
Labels: chore, security, semver-patch

#3400 update packages per "npm audit fix"
  package-lock.json
  package.json
Labels: security, semver-patch
