Repository mochajs/mocha, pull requests merged in 2018-03, with the labels that each got.

#3258 Update to correctly licensed browser-stdout version
  package.json
Labels: chore, semver-patch

#3244 Persist paths in stack trace which have cwd as infix
  lib/utils.js
  test/node-unit/stack-trace-filter.spec.js
Labels: confirmed-bug, semver-patch

#3262 update README.md; closes #3191 [ci skip]
  README.md
Labels: documentation, semver-patch

#3213 Exposes generation of diffs from base reporter
  lib/reporters/base.js
  test/reporters/base.spec.js
Labels: refactor, semver-patch

#3266 fix: ReDoS vuln in mocha@5.0.2 › diff@3.3.1
  package.json
Labels: security, semver-patch

#3276 fix(changelog): fix links to some PRs
  CHANGELOG.md
Labels: documentation, semver-patch

#3274 Fix typo in an emoji (docs)
  CHANGELOG.md
Labels: documentation, semver-patch

#3242 keep hierarchy for skipped suites w/o a callback
  lib/interfaces/common.js
  test/integration/fixtures/pending/skip-hierarchy.fixture.js
  test/integration/pending.spec.js
Labels: confirmed-bug, semver-patch

#3278 fix to bail option works properly with hooks
  lib/runner.js
  test/integration/fixtures/options/bail-with-after.fixture.js
  test/integration/options.spec.js
Labels: confirmed-bug, semver-patch

#3282 chore(docs): rewording pending tests
  docs/index.md
Labels: documentation, semver-patch

#3214 extract checking AMD bundle as own test command
  package-scripts.js
  scripts/travis-before-script.sh
  test/bundle/amd.spec.js
Labels: qa, semver-patch

#3273 append filepath to "timeout exceeded" exception; closes #627
  lib/runnable.js
  lib/suite.js
  test/unit/runnable.spec.js
Labels: feature, semver-major

#3288 remove default js in "--watch-extensions" option; closes #3275
  bin/_mocha
Labels: node.js, semver-major
