Repository mochajs/mocha, pull requests merged in 2018-04, with the labels that each got.

#3210 #1577 Add "--exclude" Option
  bin/_mocha
  package.json
  test/integration/fixtures/options/exclude/fail.fixture.js
  test/integration/fixtures/options/exclude/nested/fail.fixture.js
  test/integration/fixtures/options/exclude/nested/pass.fixture.js
  test/integration/fixtures/options/exclude/pass.fixture.js
  test/integration/options.spec.js
Labels: feature, node.js, semver-minor

#3272 Refactor Reporter tests
  nom
  test/reporters/base.spec.js
  test/reporters/doc.spec.js
  test/reporters/dot.spec.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/markdown.spec.js
  test/reporters/min.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
  test/reporters/spec.spec.js
  test/reporters/tap.spec.js
  test/reporters/xunit.spec.js
Labels: qa, refactor, semver-patch

#3302 use build stages for Travis CI
  .travis.yml
Labels: qa

#3290 add update-contributors script; closes #3289
  .mailmap
  .travis.yml
  package-scripts.js
  package.json
  scripts/update-contributors.js
Labels: chore, semver-patch

#3308 update stages and build matrices
  .travis.yml
  package-lock.json
  scripts/travis-before-install.sh
  scripts/travis-before-script.sh
Labels: qa, semver-patch

#3310 improve caching performance in CI
  .travis.yml
Labels: qa, semver-patch

#3315 further build improvements
  .travis.yml
Labels: qa, semver-patch

#3316 PATH workaround for Travis CI bug
  .travis.yml
Labels: qa, semver-patch

#3312 optimize package-scripts.js
  netlify.toml
  package-scripts.js
Labels: developer-experience, qa, semver-patch

#3299 doc precision for exclusive tests
  docs/index.md
Labels: documentation, semver-patch

#3318 fix circular objects in json reporter; closes #2433
  lib/reporters/json.js
  test/reporters/json.spec.js
Labels: confirmed-bug, reporter, semver-patch

#3317 Tap reporter: report thrown error messages
  lib/reporters/tap.js
  test/reporters/tap.spec.js
Labels: reporter, semver-major

#3323 Implement API documentation using npm:documentation.
  .gitignore
  docs/index.md
  lib/context.js
  lib/hook.js
  lib/mocha.js
  lib/ms.js
  lib/reporters/base.js
  lib/reporters/doc.js
  lib/reporters/dot.js
  lib/reporters/html.js
  lib/reporters/json-stream.js
  lib/reporters/json.js
  lib/reporters/landing.js
  lib/reporters/list.js
  lib/reporters/markdown.js
  lib/reporters/min.js
  lib/reporters/nyan.js
  lib/reporters/progress.js
  lib/reporters/spec.js
  lib/reporters/tap.js
  lib/reporters/xunit.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
Labels: documentation, semver-patch

#3334 fix ESLint problems and consolidate configuration
  .eslintrc.yml
  bin/.eslintrc.yml
  docs/.eslintrc.yml
  lib/browser/.eslintrc.yml
  scripts/.eslintrc.yml
  test/.eslintrc.yml
  test/reporters/helpers.js
  test/unit/grep.spec.js
Labels: qa, semver-patch

#3330 replace deprecated New Buffer() with Buffer.from()
  test/integration/fixtures/diffs/diffs.fixture.js
Labels: qa, semver-patch

#3350 add Node.js v10 to matrix
  .eslintrc.yml
  .gitattributes
  .travis.yml
  appveyor.yml
  package-lock.json
  test/node-unit/file-utils.spec.js
Labels: chore, qa, semver-patch

#3359 remove dead code in bin/_mocha
  bin/_mocha
Labels: refactor, semver-patch
