Repository mochajs/mocha, pull requests merged in 2019-12, with the labels that each got.

#4088 initial draft of project charter; closes #4087
  PROJECT_CHARTER.md
Labels: core-team, documentation

#3979 Type "rs\n" to restart tests, fixes #871
  README.md
  docs/index.md
  lib/cli/watch-run.js
  test/integration/options/watch.spec.js
Labels: feature, semver-minor, usability

#4125 Fix timeout handling with `--inspect-brk`/`--inspect`
  bin/mocha
  test/integration/fixtures/options/slow-test.fixture.js
  test/integration/options/timeout.spec.js
Labels: confirmed-bug, node.js, semver-patch

#4129 Broken links in docs
  docs/index.md
Labels: documentation

#4118 Update node-environment-flags to 1.0.6
  package-lock.json
  package.json
Labels: chore, node.js, semver-patch

#4068 XUnit reporter should handle exceptions during diff generation
  lib/reporters/base.js
  lib/reporters/xunit.js
  test/reporters/xunit.spec.js
Labels: confirmed-bug, reporter
