Repository mochajs/mocha, pull requests merged in 2019-07, with the labels that each got.

#3960 Don't re-initialize grep option on watch re-run
  lib/cli/run-helpers.js
  lib/cli/watch-run.js
  test/integration/options/watch.spec.js
Labels: confirmed-bug, semver-patch

#3956 fix: do not redeclare variable
  docs/example/Array.js
Labels: documentation, semver-patch

#3957 fix: remove duplicate line-height property
  mocha.css
Labels: browser, documentation, semver-patch

#3955 tty.getWindowSize is not a function inside a "worker_threads" worker
  lib/reporters/base.js
Labels: node.js

#3886 fix styles on mochajs.org
  docs/css/prism.css
  docs/css/style.css
  docs/index.md
Labels: documentation

#3765 Add Matomo to website
  docs/_includes/default.html
  docs/css/style.css
  docs/images/matomo-logo.png
Labels: needs-review, website

#3947 Clarify effect of .skip()
  docs/index.md
Labels: documentation
