Repository mochajs/mocha, pull requests merged in 2019-11, with the labels that each got.

#3988 fix sponsors background color for readability
  docs/_includes/sponsors.md
  docs/css/style.css
Labels: documentation, semver-patch

#4070 Mocha constructor: improve browser setup
  lib/mocha.js
  test/unit/mocha.spec.js
Labels: browser, confirmed-bug, needs-review, semver-patch

#4083 uncaughtException: fix when current test is pending
  lib/runner.js
  test/integration/fixtures/options/allow-uncaught/propagate.fixture.js
  test/integration/fixtures/uncaught-pending.fixture.js
  test/integration/options/allowUncaught.spec.js
  test/integration/uncaught.spec.js
  test/unit/runner.spec.js
Labels: async, confirmed-bug, needs-review, semver-major

#4097 Add GH Funding Metadata
  .github/FUNDING.yml
Labels: chore

#4066 Change sh to bash for code block in docs/index.md
  docs/index.md
Labels: documentation, semver-patch

#4101 docs: clarify invalid usage of done()
  docs/index.md
Labels: documentation

#4045 Add a description for installing GraphicsMagick or ImageMagick in docs/README.md
  docs/README.md
Labels: documentation

#4107 Fix unstable CI uncaughtException test
  test/integration/fixtures/uncaught.fixture.js
Labels: confirmed-bug, qa

#4109 Add Node v13 to CI test matrix
  .travis.yml
  appveyor.yml
Labels: node.js, qa
