Repository mochajs/mocha, pull requests merged in 2019-04, with the labels that each got.

#3719 Deprecate this.skip() for "after all" hooks
  docs/index.md
  lib/runner.js
  test/integration/fixtures/pending/skip-sync-after.fixture.js
  test/integration/pending.spec.js
Labels: usability

#3856 upgrade deps as per npm audit fix; closes #3854
  package-lock.json
  package.json
Labels: security

#3829 Use cwd-relative pathname to load config file
  lib/cli/config.js
  test/integration/config.spec.js
  test/integration/fixtures/config/mocha-config/index.js
  test/integration/fixtures/config/mocha-config/package.json
  test/node-unit/cli/config.spec.js
Labels: confirmed-bug, needs-review, node.js, semver-minor, usability

#3869 upgrade node-environment-flags; closes #3868
  package-lock.json
  package.json
Labels: confirmed-bug, semver-patch

#3877 Update js-yaml from 3.13.0 to 3.13.1
  package-lock.json
  package.json
Labels: chore, security, semver-patch

#3881 Remove noise output from JSON reporter test
  test/reporters/json.spec.js
Labels: node.js, reporter, semver-patch

#3841 fixed anchors to configuration section
  docs/index.md
Labels: documentation

#3887 Broken links in docs
  docs/api-tutorials/custom-reporter.md
Labels: documentation

#3888 Use sinon sandbox for reporter tests
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
Labels: qa, refactor, reporter, semver-patch

#3889 Adds doc links for mocha-examples
  docs/index.md
Labels: documentation, website

#3894 Fix parsing of config files with "_mocha" binary
  lib/cli/cli.js
Labels: confirmed-bug, node.js, semver-patch

#3892 Rework reporter tests
  test/reporters/base.spec.js
  test/reporters/doc.spec.js
  test/reporters/dot.spec.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/markdown.spec.js
  test/reporters/min.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
  test/reporters/spec.spec.js
  test/reporters/tap.spec.js
  test/reporters/xunit.spec.js
Labels: qa, reporter, semver-patch
