Repository mochajs/mocha, pull requests merged in 2019-06, with the labels that each got.

#3922 Add mocha.min.js file to stacktrace filter
  lib/utils.js
Labels: browser, integration

#3939 ugprades for npm audit
  package-lock.json
  package.json
Labels: chore, semver-patch

#3914 modify Mocha constructor to accept options.global or options.globals
  lib/mocha.js
  test/unit/mocha.spec.js
Labels: confirmed-bug, semver-patch

#3827 do not fork if no node flags present
  bin/mocha
  lib/cli/cli.js
Labels: node.js, performance, semver-patch

#3945 update @mocha/docdash to v2.1.1
  package-lock.json
  package.json
Labels: chore, semver-patch

#3919 Update CI config files to use Node-12.x
  .travis.yml
  appveyor.yml
Labels: chore, semver-patch

#3944 update @mocha/contributors to v1.0.4
  package-lock.json
  package.json
Labels: chore, semver-patch

#3725 Base reporter store ref to console.log
  .eslintrc.yml
  lib/reporters/base.js
  lib/reporters/doc.js
  lib/reporters/dot.js
  lib/reporters/landing.js
  lib/reporters/list.js
  lib/reporters/progress.js
  lib/reporters/spec.js
  lib/reporters/xunit.js
  test/reporters/base.spec.js
  test/reporters/xunit.spec.js
Labels: confirmed-bug, reporter, semver-patch

#3953 Collect test files later
  lib/cli/collect-files.js
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/cli/watch-run.js
Labels: refactor

#3942 Fix No Files error when file is passed via --files
  lib/cli/collect-files.js
  test/integration/options/file.spec.js
Labels: confirmed-bug
