Repository mochajs/mocha, pull requests merged in 2019-01, with the labels that each got.

#3640 use userland which; closes #3639
  .eslintrc.yml
  lib/growl.js
  package-lock.json
  package.json
Labels: chore, semver-minor

#3467 Added custom error objects including code
  docs/index.md
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/errors.js
  lib/interfaces/common.js
  lib/mocha.js
  lib/reporters/xunit.js
  lib/suite.js
  lib/test.js
  lib/utils.js
  test/integration/file-utils.spec.js
  test/integration/glob.spec.js
  test/integration/suite.spec.js
  test/reporters/helpers.js
  test/unit/errors.spec.js
  test/unit/mocha.spec.js
Labels: feature, semver-minor, usability

#3648 Fixed wrong use of to throw that will fail with unexpected v11
  test/node-unit/cli/run-helpers.spec.js
Labels: confirmed-bug, qa, semver-patch

#3649 remove teamcity reporter warning (#3634)
  lib/mocha.js
Labels: confirmed-bug, semver-patch

#3638 Description meta tag
  docs/_includes/head.html
  docs/index.md
Labels: documentation, semver-patch

#3650 Fix message if no files found
  lib/cli/run-helpers.js
  lib/utils.js
  test/integration/glob.spec.js
Labels: semver-patch, usability

#3642 Add test for Runner event order
  test/integration/events.spec.js
  test/integration/fixtures/runner/events-bail.fixture.js
  test/integration/fixtures/runner/events-basic.fixture.js
  test/integration/fixtures/runner/events-retries.fixture.js
Labels: qa, semver-patch

#3657 Update API documentation concerning fs.readdir()
  lib/utils.js
Labels: documentation

#3651 mega-upgrade of .gitignore [ci skip]
  .gitignore
Labels: chore, semver-patch

#3632 Set "root" property on Suite correctly
  lib/mocha.js
  lib/suite.js
  test/unit/suite.spec.js
Labels: confirmed-bug, semver-patch

#3653 fix test running on windows
  package-lock.json
  package-scripts.js
  package.json
Labels: qa, semver-patch, windows

#3673 Add test for TAP reporter when given invalid reporter option
  test/integration/reporters.spec.js
Labels: needs-review, qa, reporter, semver-patch

#3652 Replace Jekyll with Eleventy
  .eleventy.js
  .eslintignore
  .eslintrc.yml
  .gitignore
  .ruby-version
  Gemfile
  Gemfile.lock
  docs/.eleventyignore
  docs/README.md
  docs/_config.yml
  docs/_headers
  docs/_includes/default.html
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/api/index.html
  docs/css/prism.css
  docs/css/pygments.css
  docs/css/style.css
  docs/images/link-icon.svg
  docs/index.md
  docs/js/anchor.js
  jsdoc.conf.json
  package-lock.json
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
  scripts/netlify-headers.js
Labels: documentation, semver-patch

#3654 Fix messages for file lookup issues - error scenario
  lib/cli/run-helpers.js
  test/integration/glob.spec.js
Labels: semver-patch, usability

#3684 do not recursively call `process.exit()`
  .travis.yml
  lib/cli/run-helpers.js
Labels: confirmed-bug, semver-patch

#3674 Reorder cmdline options top-level test suites lexically
  test/integration/options.spec.js
  test/integration/options/asyncOnly.spec.js
  test/integration/options/bail.spec.js
  test/integration/options/compilers.spec.js
  test/integration/options/delay.spec.js
  test/integration/options/exclude.spec.js
  test/integration/options/exit.spec.js
  test/integration/options/extension.spec.js
  test/integration/options/file.spec.js
  test/integration/options/forbidOnly.spec.js
  test/integration/options/forbidPending.spec.js
  test/integration/options/grep.spec.js
  test/integration/options/help.spec.js
  test/integration/options/opts.spec.js
  test/integration/options/retries.spec.js
  test/integration/options/sort.spec.js
  test/integration/options/watch.spec.js
Labels: qa, semver-patch

#3680 Tests: Avoid the 'was called with' assertion
  test/node-unit/cli/options.spec.js
  test/unit/mocha.spec.js
Labels: qa, semver-patch

#3691 ensure all CLI options have an assigned type; closes #3683
  lib/cli/run-option-metadata.js
  test/node-unit/cli/run.spec.js
Labels: confirmed-bug, semver-patch

#3692 ensure invalid arguments are not ignored when using bin/mocha; closes #3687
  lib/cli/options.js
  test/integration/invalid-arguments.spec.js
Labels: confirmed-bug, node.js, semver-patch

#3573 Fix Hook Test Names
  lib/runner.js
  test/integration/fixtures/current-test-title.fixture.js
  test/integration/fixtures/hooks/after-hook-deepnested-error.fixture.js
  test/integration/fixtures/hooks/after-hook-nested-error.fixture.js
  test/integration/fixtures/hooks/before-hook-deepnested-error.fixture.js
  test/integration/fixtures/hooks/before-hook-nested-error.fixture.js
  test/integration/fixtures/hooks/before-hook-root-error.fixture.js
  test/integration/fixtures/options/bail-with-after.fixture.js
  test/integration/fixtures/options/bail-with-before.fixture.js
  test/integration/hook-err.spec.js
  test/integration/hooks.spec.js
  test/integration/multiple-done.spec.js
  test/integration/options/bail.spec.js
  test/unit/runner.spec.js
Labels: confirmed-bug, semver-patch

#3698 ensure --debug becomes --inspect; closes #3697
  bin/mocha
  lib/utils.js
  package-lock.json
  test/assertions.js
  test/integration/fixtures/__default__.fixture.js
  test/integration/helpers.js
  test/integration/options/debug.spec.js
  test/unit/utils.spec.js
Labels: confirmed-bug, semver-patch

#3700 Show total test cases correctly in growl
  lib/browser/growl.js
  lib/growl.js
Labels: confirmed-bug, semver-patch

#3686 fix regex in utils.stackTraceFilter to prevent ReDoS #3416
  lib/utils.js
  test/unit/runner.spec.js
Labels: security, semver-patch
