Repository mochajs/mocha, pull requests merged in 2019-03, with the labels that each got.

#3788 closes #3787 Allow passing multiple node flags
  lib/cli/node-flags.js
  test/node-unit/cli/node-flags.spec.js
Labels: confirmed-bug, semver-patch

#3799 Update devDependencies to fix the npm vulnerabilities
  package-lock.json
  package.json
Labels: chore, semver-patch

#3745 Fix this.skip() async calls
  lib/runner.js
  test/integration/fixtures/pending/skip-async-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-async-before-nested.fixture.js
  test/integration/fixtures/pending/skip-async-before.fixture.js
  test/integration/fixtures/pending/skip-async-beforeEach.fixture.js
  test/integration/fixtures/pending/skip-async-spec.fixture.js
  test/integration/pending.spec.js
Labels: confirmed-bug, semver-patch

#3807 Completed website HTML tweaks
  docs/_includes/default.html
  docs/css/style.css
Labels: needs-review, semver-patch, website

#3669 set allowUncaught on hooks
  lib/runner.js
  test/unit/runner.spec.js
Labels: confirmed-bug, semver-patch

#3814 update yargs; closes #3742
  lib/cli/cli.js
  lib/cli/options.js
  package-lock.json
  package.json
Labels: confirmed-bug, semver-patch

#3815 MarkdownMagic script updates
  scripts/markdown-magic.config.js
Labels: chore, confirmed-bug, integration, semver-patch, website, windows

#3816 guard against undefined timeout option in constructor; closes #3813
  lib/mocha.js
  lib/suite.js
  test/unit/mocha.spec.js
Labels: confirmed-bug, semver-patch

#3793 Remove "package" flag from sample config file because it can only be passes as CLI arg
  example/config/.mocharc.yml
Labels: documentation, semver-patch

#3830 Replace findup-sync with find-up for faster startup
  lib/cli/config.js
  lib/cli/options.js
  package-lock.json
  package.json
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
Labels: performance, semver-patch

#3811 Update doc examples "tests.html"
  docs/example/tests.html
Labels: browser, needs-review, nice-to-have, semver-patch

#3845 Update JS-YAML to address security advisory
  package-lock.json
  package.json
Labels: node.js, security, semver-patch

#3848 Copy Suite root when cloning
  lib/suite.js
  test/unit/suite.spec.js
Labels: confirmed-bug
