Repository mochajs/mocha, pull requests merged in 2019-10, with the labels that each got.

#4041 Updated CHANGELOG for v6.2.1
  CHANGELOG.md
Labels: documentation

#4030 uncaughtException: fix "--allow-uncaught" with "this.skip()"
  lib/runnable.js
  lib/runner.js
  test/integration/fixtures/options/allow-uncaught/this-skip-it.fixture.js
  test/integration/options/allowUncaught.spec.js
  test/unit/runnable.spec.js
Labels: async, confirmed-bug, needs-review, semver-patch

#4051 Make unhide function work as expected in html reporter
  lib/reporters/html.js
Labels: browser, confirmed-bug

#4063 special-case parsing of "require" in unparseNodeArgs(); closes #4035
  lib/cli/node-flags.js
  test/node-unit/cli/node-flags.spec.js
Labels: confirmed-bug, node.js, semver-patch

#4033 uncaughtException: report more than one exception per test
  lib/reporters/base.js
  test/reporters/base.spec.js
Labels: async, confirmed-bug, needs-review, semver-patch

#4026 Added documentation on how to specify the reporter for browser mocha
  docs/index.md
  lib/mocha.js
Labels: browser, documentation

#4064 npm audit fixes
  package-lock.json
Labels: security, semver-patch

#4077 2595 Changed runMocha to runMochaJSON in test/integration
  test/integration/duplicate-arguments.spec.js
  test/integration/options/ui.spec.js
Labels: qa, semver-patch
