Repository mochajs/mocha, pull requests merged in 2019-09, with the labels that each got.

#3890 Deprecate "debug" and remove "--debug" / "--debug-brk" flags
  bin/mocha
  docs/index.md
  lib/cli/node-flags.js
  lib/cli/run.js
  test/integration/options/debug.spec.js
  test/node-unit/cli/node-flags.spec.js
Labels: needs-review, node.js, semver-major

#3980 Improved watching with chokidar
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.json
  example/config/.mocharc.jsonc
  example/config/.mocharc.yml
  lib/cli/run-helpers.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/cli/watch-run.js
  lib/mocharc.json
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  test/integration/file-utils.spec.js
  test/integration/options/watch.spec.js
  test/node-unit/cli/options.spec.js
Labels: feature, refactor, semver-major, usability

#4008 add OpenJS Foundation logo to website
  docs/_includes/default.html
  docs/css/style.css
  docs/images/openjsf-logo.svg
  docs/index.md
Labels: semver-patch, website

#4004 Mocha constructor: some fixes and cleanup
  docs/index.md
  lib/mocha.js
  lib/runner.js
  test/unit/mocha.spec.js
  test/unit/runner.spec.js
Labels: confirmed-bug, semver-major

#4025 uncaughtException: fix double EVENT_RUN_END events
  lib/runner.js
  test/integration/fixtures/regression/issue-1327.fixture.js
  test/integration/fixtures/uncaught-fatal.fixture.js
  test/integration/regression.spec.js
  test/integration/uncaught.spec.js
  test/unit/runner.spec.js
Labels: confirmed-bug, needs-review, semver-patch
