Repository mochajs/mocha, pull requests merged in 2019-02, with the labels that each got.

#3704 test(unit/runner.spec.js): Minor tweeks related to #3686
  test/unit/runner.spec.js
Labels: needs-review, qa, semver-patch

#3712 Eliminated variable shadowing from test event listeners (runner.spec.js)
  test/unit/runner.spec.js
Labels: needs-review, qa, semver-patch

#3699 fix --inspect and its ilk; closes #3681
  .mocharc.yml
  bin/mocha
  lib/cli/node-flags.js
  lib/cli/options.js
  package-lock.json
  package.json
  test/assertions.js
  test/integration/helpers.js
  test/integration/options/debug.spec.js
Labels: confirmed-bug, semver-patch

#3677 add createInvalidArgumentError(); see #3676
  docs/index.md
  karma.conf.js
  lib/cli/run.js
  lib/errors.js
  lib/reporters/xunit.js
  lib/runnable.js
  lib/runner.js
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  test/browser-specific/setup.js
  test/integration/helpers.js
  test/integration/options.spec.js
  test/integration/options/interfaces.spec.js
  test/integration/options/reporter-option.spec.js
  test/integration/options/reporters.spec.js
  test/integration/show-plugins.spec.js
  test/reporters/helpers.js
  test/setup.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
Labels: documentation, refactor

#3711 Refactor checkGlobals() error message creation
  lib/mocha.js
  lib/runner.js
  lib/utils.js
  test/integration/reporters.spec.js
  test/unit/mocha.spec.js
  test/unit/runner.spec.js
  test/unit/utils.spec.js
Labels: nice-to-have, refactor, semver-patch

#3723 fix --reporter-option to allow comma-separated options; closes #3706
  lib/cli/run.js
  test/integration/fixtures/options/reporter-with-options.fixture.js
  test/integration/options/reporter-option.spec.js
Labels: confirmed-bug, semver-patch

#3722 Refactor `lookupFiles` and `files`
  lib/utils.js
Labels: needs-review, refactor, semver-patch

#3726 Add ability to unload files from `require` cache (redux)
  lib/cli/run-helpers.js
  lib/mocha.js
  test/node-unit/mocha.spec.js
  test/unit/mocha.spec.js
Labels: feature, needs-review, semver-minor, usability

#3707 Refactor out usages of Suite#_onlyTests and Suite#_onlyTests (#3689)
  jsdoc.conf.json
  lib/interfaces/common.js
  lib/runner.js
  lib/suite.js
  test/unit/suite.spec.js
Labels: refactor, semver-patch

#3730 Update nyc
  package-lock.json
  package.json
Labels: security, semver-patch

#3728 Documentation updates
  docs/index.md
Labels: documentation, needs-review

#3733 remove a post-processing code having no effect; closes #3708
  test/integration/helpers.js
Labels: nice-to-have, qa, semver-patch

#3737 Fix `.globals` to remove falsy values
  lib/mocha.js
  test/unit/mocha.spec.js
Labels: confirmed-bug, needs-review, semver-patch

#3739 Uppercase JSON reporter name in `describe` title
  test/reporters/json.spec.js
Labels: qa, semver-patch

#3751 Bring the example congfiguration file in line with the documentation.
  example/config/.mocharc.js
  example/config/.mocharc.json
  example/config/.mocharc.yml
Labels: documentation, semver-patch

#3754 Revert default glob to match Mocha-5.2
  lib/cli/run.js
Labels: confirmed-bug, node.js, semver-patch, usability

#3752 dev dep upgrades from "npm audit" and "npm upgrade"
  package-lock.json
  package.json
Labels: chore, semver-patch

#3756 fix --ui issues, closes #3746
  lib/mocha.js
  test/integration/fixtures/simple-ui.fixture.js
  test/integration/fixtures/test-for-simple-ui.fixture.js
  test/integration/options/ui.spec.js
  test/integration/regression.spec.js
Labels: confirmed-bug, semver-patch

#3738 Upgrade docdash version - issue #3663
  package-lock.json
  package.json
Labels: documentation, semver-patch

#3755 fix --watch not finding any files to execute; closes #3748
  lib/cli/run-helpers.js
Labels: confirmed-bug, semver-patch

#3759 backout deprecation of value returned from suite; closes #3744
  lib/interfaces/common.js
  test/integration/suite.spec.js
Labels: confirmed-bug, semver-patch

#3411 improve issue template.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support-question.md
Labels: developer-experience

#3762 Eliminate "noise" Karma middleware warning
  package-lock.json
  package.json
Labels: browser, confirmed-bug, integration, qa, semver-patch

#3767 fix handling of bareword args matching node flags; closes #3761
  lib/cli/node-flags.js
  lib/cli/options.js
  test/integration/options/node-flags.spec.js
  test/node-unit/cli/node-flags.spec.js
Labels: confirmed-bug, semver-patch

#3768 fix broken positional arguments in config; ensure positional args are unique; closes #3763
  lib/cli/options.js
  test/node-unit/cli/options.spec.js
Labels: confirmed-bug, semver-patch

#3774 autoformat markdown with prettier; closes #3773
  .lintstagedrc.json
Labels: developer-experience, semver-patch

#3766 Make reporter ctors support optional 'options' parameter
  lib/reporters/base.js
  lib/reporters/doc.js
  lib/reporters/dot.js
  lib/reporters/html.js
  lib/reporters/json-stream.js
  lib/reporters/json.js
  lib/reporters/landing.js
  lib/reporters/list.js
  lib/reporters/markdown.js
  lib/reporters/min.js
  lib/reporters/nyan.js
  lib/reporters/progress.js
  lib/reporters/spec.js
  lib/reporters/tap.js
  lib/reporters/xunit.js
Labels: feature, semver-patch

#3760 Add support for configuration files with ".jsonc" extension
  docs/index.md
  example/config/.mocharc.jsonc
  lib/cli/config.js
  test/node-unit/cli/config.spec.js
Labels: feature, node.js, semver-minor
