Repository mochajs/mocha, pull requests merged in 2019-08, with the labels that each got.

#3970 remove extraGlobals()
  lib/runner.js
Labels: needs-review, node.js, semver-patch

#3885 Drop node.js v6 support
  .github/CONTRIBUTING.md
  .travis.yml
  appveyor.yml
  docs/README.md
  docs/index.md
  package.json
  test/integration/options/debug.spec.js
Labels: node.js, semver-major

#3962 Add prefix `list-` to --interfaces and --reporters options
  docs/index.md
  lib/cli/one-and-dones.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  test/integration/options/listInterfaces.spec.js
  test/integration/options/listReporters.spec.js
Labels: semver-major, usability

#3981 Travis: don't run Smoke with Node v6
  .travis.yml
Labels: node.js, semver-major

#3984 Update yargs-unparser to v1.6.0
  package-lock.json
  package.json
Labels: security

#3859 Fix hook pattern of this.skip() in it() tests
  lib/runner.js
  test/integration/fixtures/pending/skip-async-spec.fixture.js
  test/integration/fixtures/pending/skip-sync-spec.fixture.js
  test/integration/pending.spec.js
Labels: needs-review, semver-major

#3983 Package 'esm': spawn child-process for correct loading
  bin/mocha
Labels: confirmed-bug, node.js, semver-patch

#3986 Update yargs to v13.3.0 and yargs-parser to v13.1.1
  package-lock.json
  package.json
Labels: confirmed-bug, needs-upstream-fix, node.js, semver-patch

#3967 Remove deprecated "getOptions()" and "lib/cli/options.js"
  bin/options.js
  lib/cli/options.js
  package.json
Labels: needs-review, node.js, semver-major

#3972 Add link checking to docs build step
  docs/api-tutorials/custom-reporter.md
  lib/cli/options.js
  lib/mocha.js
  lib/reporters/base.js
  package-lock.json
  package-scripts.js
  package.json
Labels: documentation

#3968 Soft deprecate configuration via "mocha.opts"
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.json
  example/config/.mocharc.jsonc
  example/config/.mocharc.yml
  lib/cli/options.js
  lib/cli/run.js
  test/integration/options/opts.spec.js
Labels: needs-review, node.js, semver-minor

#3971 Adopt the OpenJSF Code of Conduct
  .github/CODE_OF_CONDUCT.md
Labels: core-team, documentation, semver-patch
