Repository mochajs/mocha, pull requests merged in 2019-05, with the labels that each got.

#3790 various doc-related fixes
  .lintstagedrc.json
  docs/index.md
  jsdoc.conf.json
  package-scripts.js
Labels: documentation, semver-patch

#3872 rename "exclude" to "ignore" and create alias; closes #3871
  docs/index.md
  example/config/.mocharc.yml
  lib/cli/run-helpers.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  test/integration/fixtures/options/ignore/fail.fixture.js
  test/integration/fixtures/options/ignore/nested/fail.fixture.js
  test/integration/fixtures/options/ignore/nested/pass.fixture.js
  test/integration/fixtures/options/ignore/pass.fixture.js
  test/integration/options/ignore.spec.js
Labels: node.js, semver-minor, usability

#3900 Node v12 and preserve-symlinks/-main flags
  test/node-unit/cli/node-flags.spec.js
Labels: node.js, semver-patch

#3906 Document option to define custom report name for xunit reporter
  docs/index.md
Labels: documentation

#3903 chore: upgrade (most) depedencies to latest
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  test/integration/compiler-globbing.spec.js
  test/integration/options/compilers.spec.js
  test/integration/options/extension.spec.js
Labels: chore

#3905 Fix regression/bug in "lookupFiles()"
  lib/utils.js
  test/integration/file-utils.spec.js
Labels: confirmed-bug, needs-review, semver-patch
