Repository mochajs/mocha, pull requests merged in 2020-07, with the labels that each got.

#4341 Browser usage issues with `delay` option
  browser-entry.js
Labels: browser, semver-patch

#4343 Remove GLOBALS in api docs
  lib/browser/progress.js
  lib/cli/collect-files.js
  lib/interfaces/common.js
  lib/mocha.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/serializer.js
  lib/pending.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
Labels: documentation, semver-patch

#4293 Rollup and babel in build pipeline
  .browserslistrc
  .eslintrc.yml
  .gitignore
  browser-entry.js
  karma.conf.js
  lib/browser/highlight-tags.js
  lib/browser/parse-query.js
  lib/browser/tty.js
  lib/cli/collect-files.js
  lib/cli/lookup-files.js
  lib/reporters/base.js
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  scripts/dedefine.js
  scripts/karma-rollup-plugin.js
  scripts/package-json-cullify.js
  scripts/pick-from-package-json.js
  test/browser-specific/mocha.opts
  test/integration/file-utils.spec.js
  test/unit/parse-query.spec.js
  test/unit/utils.spec.js
Labels: chore, developer-experience, semver-patch

#4358 do not run production build on netlify for PRs; closes #4356
  netlify.toml
  package-scripts.js
  scripts/netlify-headers.js
Labels: semver-patch, website

#4363 Reduce rollup noise
  karma.conf.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
Labels: chore, developer-experience, semver-patch

#4359 fixes failure output in mocha init w/o target
  lib/cli/cli.js
  test/integration/init.spec.js
Labels: confirmed-bug, semver-patch

#4373 block more spammers using regexes
  docs/_data/blocklist.json
  docs/_data/supporters.js
Labels: website

#4366 build UMD bundle and polyfill language features
  .eslintrc.yml
  .travis.yml
  browser-entry.js
  karma.conf.js
  lib/browser/template.html
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
  test/browser-specific/fixtures/requirejs/lib.fixture.js
  test/browser-specific/fixtures/requirejs/main.fixture.js
  test/browser-specific/requirejs-setup.js
  test/browser-specific/setup.js
  test/bundle/amd.spec.js
  test/unit/utils.spec.js
Labels: browser, chore, semver-patch

#4378 Update javascript-serialize 3.1.0 to 4.0.0
  package-lock.json
  package.json
Labels: security, semver-patch

#4382 Fix #4347 | Ensure root level hooks are called when running in watch mode
  lib/cli/watch-run.js
  test/integration/fixtures/options/watch/hook.fixture.js
  test/integration/options/watch.spec.js
Labels: confirmed-bug, semver-patch

#4371 Modify: Fixing typos
  lib/cli/watch-run.js
  lib/errors.js
  lib/mocha.js
  lib/utils.js
Labels: documentation, refactor, semver-patch

#4357 handle errors in supporter images during 11ty build
  docs/_data/supporters.js
  netlify.toml
  package-lock.json
  package.json
Labels: semver-patch, website

#4387 devDependency updates for v8.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: chore, security, semver-patch
