Repository mochajs/mocha, pull requests merged in 2020-09, with the labels that each got.

#4431 Fix: Broken wallaby logo on mochajs.org #4430
  docs/_includes/default.liquid
Labels: confirmed-bug, semver-patch, website

#4436 redirect webpack test output to a temp dir
  test/browser-specific/fixtures/webpack/webpack.config.js
Labels: developer-experience, qa, semver-patch

#4360 implementation of global setup/teardown; closes #4308
  .eslintignore
  .wallaby.js
  docs/index.md
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/cli/watch-run.js
  lib/errors.js
  lib/mocha.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/worker.js
  lib/plugin-loader.js
  lib/runner.js
  lib/suite.js
  lib/utils.js
  package-lock.json
  package.json
  test/assertions.js
  test/browser-specific/setup.js
  test/integration/fixtures/deprecate.fixture.js
  test/integration/fixtures/plugins/global-fixtures/global-setup-teardown-multiple.fixture.js
  test/integration/fixtures/plugins/global-fixtures/global-setup-teardown.fixture.js
  test/integration/fixtures/plugins/global-fixtures/global-setup.fixture.js
  test/integration/fixtures/plugins/global-fixtures/global-teardown.fixture.js
  test/integration/fixtures/plugins/root-hooks/esm/package.json
  test/integration/fixtures/plugins/root-hooks/esm/root-hook-defs-esm.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-a.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-b.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-c.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-d.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-esm-broken.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-defs-esm.fixture.mjs
  test/integration/fixtures/plugins/root-hooks/root-hook-test-2.fixture.js
  test/integration/fixtures/plugins/root-hooks/root-hook-test.fixture.js
  test/integration/helpers.js
  test/integration/hook-err.spec.js
  test/integration/hooks.spec.js
  test/integration/multiple-runs.spec.js
  test/integration/options/extension.spec.js
  test/integration/options/watch.spec.js
  test/integration/pending.spec.js
  test/integration/plugins/global-fixtures.spec.js
  test/integration/plugins/root-hooks.spec.js
  test/integration/retries.spec.js
  test/node-unit/cli/run-helpers.spec.js
  test/node-unit/mocha.spec.js
  test/node-unit/worker.spec.js
  test/reporters/xunit.spec.js
  test/setup.js
  test/unit/errors.spec.js
  test/unit/mocha.spec.js
  test/unit/plugin-loader.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/utils.spec.js
Labels: feature, semver-minor

#4438 Add npm and node version badges to README
  README.md
Labels: documentation, semver-patch

#4247 Fix the usage of expect(a, 'to be', b)
  package-scripts.js
  test/only/bdd.spec.js
  test/only/qunit.spec.js
  test/only/tdd.spec.js
Labels: qa, semver-patch

#4434 Add speed in -R json option (#4226)
  lib/reporters/json-stream.js
  lib/reporters/json.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
Labels: feature, node.js, reporter

#4402 ci(win): setup GH actions for windows CI
  .github/CONTRIBUTING.md
  .github/workflows/windows-ci.yml
  MAINTAINERS.md
  appveyor.yml
  karma.conf.js
Labels: qa

#4450 Implement Open Collective categories for extended filtering
  docs/_data/supporters.js
Labels: semver-patch, website
