Repository mochajs/mocha, pull requests merged in 2020-01, with the labels that each got.

#3741 Fix hook pattern of this.skip() in beforeEach hooks
  lib/runner.js
  test/integration/fixtures/pending/skip-async-beforeEach.fixture.js
  test/integration/fixtures/pending/skip-sync-beforeEach-cond.fixture.js
  test/integration/fixtures/pending/skip-sync-beforeEach.fixture.js
  test/integration/pending.spec.js
Labels: confirmed-bug, needs-review, semver-major

#4136 Forbid this.skip() within afterAll hooks
  docs/index.md
  lib/runner.js
  test/integration/fixtures/pending/skip-sync-after.fixture.js
  test/integration/pending.spec.js
Labels: feature, semver-major

#4127 Add reporter names enable and Unite names into one
  docs/index.md
Labels: documentation

#4140 Broken links in docs
  docs/index.md
Labels: documentation, semver-patch, website

#4147 Fix leaking global 'uncaughtException' handler
  lib/runner.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/uncaught.spec.js
Labels: confirmed-bug, semver-patch

#4146 update copyright & trademark notices per OJSF; closes #4145
  LICENSE
  README.md
  docs/_includes/default.html
  docs/css/style.css
Labels: chore, documentation, website

#4133 Throw a descriptive error when a non-function is given to a runnable
  lib/runnable.js
  test/unit/runnable.spec.js
Labels: semver-patch, usability

#4153 Fix backwards compatibility break for `reporterOptions`
  lib/mocha.js
  test/unit/mocha.spec.js
Labels: reporter, semver-patch, usability

#4150 uncaughtException: fix recovery when current test is still running
  lib/runnable.js
  lib/runner.js
  test/integration/fixtures/uncaught/recover.fixture.js
  test/integration/hook-err.spec.js
  test/integration/uncaught.spec.js
  test/unit/runner.spec.js
Labels: async, confirmed-bug, refactor, semver-patch

#4165 Fix: Mocha aborts when 'test' is set to 'pending' programmatically
  lib/runner.js
  test/integration/fixtures/pending/programmatic.fixture.js
  test/integration/helpers.js
  test/integration/pending.spec.js
Labels: confirmed-bug, semver-patch

#4058 manage author list in AUTHORS instead package.json
  AUTHORS
  MAINTAINERS.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/update-authors.js
Labels: documentation, semver-patch
