Repository mochajs/mocha, pull requests merged in 2020-06, with the labels that each got.

#4245 add support for running tests in parallel
  .eslintrc.yml
  .mocharc.yml
  .travis.yml
  bin/mocha
  karma.conf.js
  lib/browser/growl.js
  lib/cli/collect-files.js
  lib/cli/run-helpers.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/cli/watch-run.js
  lib/errors.js
  lib/hook.js
  lib/interfaces/common.js
  lib/mocha.js
  lib/nodejs/buffered-worker-pool.js
  lib/nodejs/growl.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/reporters/parallel-buffered.js
  lib/nodejs/serializer.js
  lib/nodejs/worker.js
  lib/reporters/base.js
  lib/reporters/landing.js
  lib/reporters/tap.js
  lib/runner.js
  lib/suite.js
  lib/test.js
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  test/integration/fixtures/options/jobs/fail-in-parallel.fixture.js
  test/integration/fixtures/options/parallel/bail.fixture.js
  test/integration/fixtures/options/parallel/exclusive-test-a.fixture.js
  test/integration/fixtures/options/parallel/exclusive-test-b.fixture.js
  test/integration/fixtures/options/parallel/retries-a.fixture.js
  test/integration/fixtures/options/parallel/retries-b.fixture.js
  test/integration/fixtures/options/parallel/syntax-err.fixture.js
  test/integration/fixtures/options/parallel/test-a.fixture.js
  test/integration/fixtures/options/parallel/test-b.fixture.js
  test/integration/fixtures/options/parallel/test-c.fixture.js
  test/integration/fixtures/options/parallel/test-d.fixture.js
  test/integration/fixtures/options/parallel/uncaught.fixture.js
  test/integration/helpers.js
  test/integration/options/jobs.spec.js
  test/integration/options/parallel.spec.js
  test/node-unit/buffered-runner.spec.js
  test/node-unit/buffered-worker-pool.spec.js
  test/node-unit/mocha.spec.js
  test/node-unit/reporters/parallel-buffered.spec.js
  test/node-unit/serializer.spec.js
  test/node-unit/worker.spec.js
  test/reporters/tap.spec.js
  test/unit/errors.spec.js
  test/unit/hook-timeout.spec.js
  test/unit/mocha.spec.js
Labels: feature, node.js, semver-minor

#4304 Support --require of ESM; closes #4281
  docs/index.md
  lib/cli/run-helpers.js
  lib/esm-utils.js
  test/integration/fixtures/options/require/esm/package.json
  test/integration/fixtures/options/require/esm/root-hook-defs-esm.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-esm.fixture.mjs
  test/integration/options/require.spec.js
Labels: feature, semver-minor

#4246 add docs for parallel and root hooks
  docs/index.md
Labels: documentation, node.js, semver-minor

#4282 Consistent handling of --forbid-only for suites and tests
  lib/interfaces/common.js
  lib/suite.js
  test/integration/options/forbidOnly.spec.js
  test/unit/suite.spec.js
Labels: semver-major, usability

#4299 enable esm support in Node v10
  docs/index.md
  lib/mocha.js
  lib/utils.js
  test/integration/esm.spec.js
Labels: feature, semver-minor

#4314 remove .nvmrc; use NODE_VERSION env for netlify
  .nvmrc
  netlify.toml
Labels: semver-patch, website

#4309 Remove Node v13 from CI test matrix
  .travis.yml
  appveyor.yml
Labels: node.js, qa

#4319 disable parallel mode by default
  .mocharc.yml
  package-scripts.js
Labels: chore, semver-patch

#4333 fix(vulnerabilty): update to serialize-javascript@3.1
  package-lock.json
  package.json
Labels: security, semver-patch

#4334 Fix wrong sponsors images from OC
  docs/_data/supporters.js
Labels: documentation, website

#4173 docs: document Node.js' --enable-source-maps flag
  docs/index.md
Labels: documentation, semver-patch

#4321 trigger netlify deploy nightly
  .github/workflows/nightly-site-deploy.yml
Labels: semver-patch, website

#4339 temporarily disable broken OC badges
  README.md
  docs/index.md
Labels: needs-upstream-fix, semver-patch, website

#4287 Use background color to show colored spaces in an inline diff
  lib/reporters/base.js
Labels: semver-patch, usability

#4312 closes issue #4303 - update tests by removing method call to createSa…
  test/node-unit/buffered-runner.spec.js
  test/node-unit/buffered-worker-pool.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/node-unit/mocha.spec.js
  test/node-unit/reporters/parallel-buffered.spec.js
  test/node-unit/serializer.spec.js
  test/node-unit/worker.spec.js
  test/reporters/base.spec.js
  test/reporters/dot.spec.js
  test/reporters/json.spec.js
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
  test/reporters/spec.spec.js
  test/reporters/xunit.spec.js
  test/unit/mocha.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/test.spec.js
  test/unit/utils.spec.js
Labels: qa, semver-patch
