Repository mochajs/mocha, pull requests merged in 2020-05, with the labels that each got.

#4261 adds a bunch of keywords
  package.json
Labels: chore, semver-patch

#4219 Exposing filename in JSON, doc, and json-stream reporters
  lib/reporters/doc.js
  lib/reporters/json-stream.js
  lib/reporters/json.js
  test/reporters/doc.spec.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
Labels: feature, reporter, semver-minor

#4240 assorted test fixes & refactors
  .mocharc.yml
  example/config/.mocharc.yml
  lib/mocha.js
  test/integration/diffs.spec.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/options/watch.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/node-unit/fixtures/dumb-module.js
  test/node-unit/fixtures/dumber-module.js
  test/node-unit/mocha.spec.js
  test/unit/hook-timeout.spec.js
  test/unit/runner.spec.js
  test/unit/throw.spec.js
  test/unit/timeout.spec.js
Labels: chore, semver-patch

#4194 fix: check if module.paths really exists
  lib/cli/cli.js
  lib/mocha.js
Labels: confirmed-bug, semver-patch

#4260 Remove enableTimeout api + allow overriding a disabled timeout
  .nycrc
  docs/index.md
  lib/context.js
  lib/mocha.js
  lib/runnable.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/timeout-override.fixture.js
  test/integration/timeout.spec.js
  test/unit/context.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/test.spec.js
  test/unit/timeout.spec.js
Labels: confirmed-bug, semver-major

#4234 Add ability to run tests in a mocha instance multiple times
  browser-entry.js
  lib/errors.js
  lib/hook.js
  lib/mocha.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/multiple-runs/clean-references.fixture.js
  test/integration/fixtures/multiple-runs/dispose.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-different-output-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each.fixture.js
  test/integration/fixtures/multiple-runs/run-thrice-helper.js
  test/integration/fixtures/multiple-runs/run-thrice.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running-suite.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running.fixture.js
  test/integration/multiple-runs.spec.js
  test/unit/hook.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/test.spec.js
Labels: feature, semver-minor

#4256 Bug 3840: --forbid-only doesn't recognize `it.only` when `before` crashes
  lib/interfaces/common.js
  lib/runner.js
  test/integration/fixtures/options/forbid-only/only-before-each.fixture.js
  test/integration/fixtures/options/forbid-only/only-before.fixture.js
  test/integration/options/forbidOnly.spec.js
Labels: confirmed-bug, semver-patch

#4288 fix test/unit/hook.spec.js
  lib/runner.js
  test/unit/hook.spec.js
Labels: chore, semver-patch

#4275 fix improper warnings for invalid reporters
  .eslintrc.yml
  lib/cli/cli.js
  lib/cli/config.js
  lib/mocha.js
  lib/utils.js
  package-lock.json
  package.json
  test/node-unit/fixtures/wonky-reporter.fixture.js
  test/node-unit/mocha.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
Labels: chore, confirmed-bug, semver-patch

#4290 add javascript in docs to eslint
  .eslintignore
  .eslintrc.yml
  docs/js/avatars.js
Labels: chore, semver-patch, website

#4291 smart quotes and such on website; closes #3716
  .eleventy.js
Labels: semver-patch, website

#4289 do not commit generated content to VCS; closes #3713
  .eleventy.js
  .eslintrc.yml
  docs/.eleventyignore
  docs/README.md
  docs/_data/files.js
  docs/_data/toc.js
  docs/_data/usage.js
  docs/api-tutorials/custom-reporter.md
  docs/changelogs/README.md
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
Labels: semver-patch, website

#4244 add Root Hook Plugins
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/mocha.js
  lib/utils.js
  test/integration/fixtures/options/require/root-hook-defs-a.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-b.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-c.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-d.fixture.js
  test/integration/fixtures/options/require/root-hook-test-2.fixture.js
  test/integration/fixtures/options/require/root-hook-test.fixture.js
  test/integration/options/require.spec.js
  test/node-unit/cli/run-helpers.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
  test/unit/utils.spec.js
Labels: feature, node.js, semver-minor

#4152 multiple async done() calls result in failure; closes #4151
  lib/cli/collect-files.js
  lib/errors.js
  lib/runnable.js
  lib/runner.js
  package-lock.json
  package-scripts.js
  package.json
  test/integration/fixtures/multiple-done-async.fixture.js
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/multiple-done.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
Labels: async, confirmed-bug, semver-patch

#4272 fetch sponsors at build time, show ALL non-skeevy sponsors; closes #4271
  .nvmrc
  docs/_data/blacklist.json
  docs/_data/supporters.js
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/_includes/supporters.md
  docs/css/style.css
  docs/images/backer-background.svg
  docs/index.md
  docs/js/avatars.js
  package-lock.json
  package.json
Labels: semver-patch, website

#4300 renamed smoke test
  .travis.yml
  test/sanity/sanity.spec.js
  test/smoke/smoke.spec.js
Labels: chore, semver-patch
