Repository mochajs/mocha, pull requests merged in 2020-04, with the labels that each got.

#4214 Update Dependencies and remove 'node-environment-flags'
  lib/cli/node-flags.js
  package-lock.json
  package.json
  test/node-unit/cli/node-flags.spec.js
Labels: chore, semver-major

#4223 Improve hook pattern of 'this.skip()' in beforeAll hooks
  lib/runnable.js
  lib/runner.js
  test/integration/fixtures/pending/skip-async-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-sync-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-sync-before-inner.fixture.js
  test/integration/pending.spec.js
Labels: async, confirmed-bug, needs-review, semver-patch

#4222 Update mkdirp
  package-lock.json
  package.json
Labels: chore

#4230 Remove Runnable#inspect and utils.ngettext
  lib/runnable.js
  lib/runner.js
  lib/utils.js
  test/unit/runner.spec.js
  test/unit/utils.spec.js
Labels: semver-patch

#4243 remove cruft from wallaby config
  .wallaby.js
Labels: chore, semver-patch

#4235 enable emoji on website; enable normal ul elements
  .eleventy.js
  .markdownlint.json
  docs/css/style.css
  package-lock.json
  package.json
  scripts/markdown-magic.config.js
Labels: documentation, semver-patch, website

#4239 fixes some signal handling
  lib/reporters/landing.js
  test/integration/helpers.js
  test/integration/options/exit.spec.js
Labels: chore, semver-patch

#4242 CI: add job names, add Node.js v14 to matrix
  .travis.yml
  appveyor.yml
Labels: chore, semver-patch

#4236 better debug output
  bin/mocha
  lib/cli/config.js
  lib/cli/options.js
  lib/cli/run-helpers.js
  lib/runner.js
Labels: chore, semver-patch

#4238 fix nyc ignorelist
  .nycrc
Labels: chore, semver-patch

#4251 Fix: karma-mocha hangs when there's a exception in a hook
  lib/runner.js
Labels: confirmed-bug, integration, semver-patch

#4252 add test case for #4251
  test/unit/runner.spec.js
Labels: chore, semver-patch

#4253 Mark HTTP 429 responses as allowed failures in hyperlink check
  package-scripts.js
Labels: chore, website

#4255 Update mocha-docdash for UI fixes on API docs
  package-lock.json
  package.json
Labels: semver-patch, website

#4237 refactor validatePlugins to throw coded errors
  lib/cli/run-helpers.js
  lib/errors.js
  test/node-unit/cli/fixtures/bad-module.fixture.js
  test/node-unit/cli/run-helpers.spec.js
Labels: chore, semver-patch

#4258 Fix missing dot in name of configuration file
  docs/index.md
Labels: documentation, semver-patch
