Repository mochajs/mocha, pull requests merged in 2020-02, with the labels that each got.

#4138 Upgrade: ESLint v6.8
  .eslintrc.yml
  browser-entry.js
  package-lock.json
  package.json
  scripts/netlify-headers.js
  test/reporters/base.spec.js
  test/reporters/helpers.js
  test/reporters/nyan.spec.js
  test/unit/runner.spec.js
Labels: chore

#4065 Docs: update browser options
  docs/index.md
Labels: browser, documentation

#4019 uncaughtException after runner's end: improve exit code
  test/integration/fixtures/uncaught/after-runner.fixture.js
  test/integration/fixtures/uncaught/double.fixture.js
  test/integration/fixtures/uncaught/fatal.fixture.js
  test/integration/fixtures/uncaught/hook.fixture.js
  test/integration/fixtures/uncaught/issue-1327.fixture.js
  test/integration/fixtures/uncaught/issue-1417.fixture.js
  test/integration/fixtures/uncaught/pending.fixture.js
  test/integration/regression.spec.js
  test/integration/uncaught.spec.js
Labels: async, confirmed-bug, qa, semver-patch

#4174 Browser: fix 'allowUncaught' handling
  browser-entry.js
  docs/index.md
  lib/runner.js
  test/unit/runner.spec.js
Labels: browser, confirmed-bug, semver-patch

#4181 Fix: programmatic API cannot access retried test objects
  lib/runner.js
  lib/test.js
  test/integration/fixtures/retries/early-pass.fixture.js
  test/integration/retries.spec.js
  test/unit/test.spec.js
Labels: feature, semver-patch

#4038 Node esm support
  .eslintrc.yml
  docs/index.md
  karma.conf.js
  lib/cli/config.js
  lib/cli/options.js
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/esm-utils.js
  lib/mocha.js
  lib/mocharc.json
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  test/integration/config.spec.js
  test/integration/esm.spec.js
  test/integration/fixtures/config/mocharc.cjs
  test/integration/fixtures/esm/add.mjs
  test/integration/fixtures/esm/esm-failure.fixture.mjs
  test/integration/fixtures/esm/esm-success.fixture.mjs
  test/integration/fixtures/esm/js-folder/add.js
  test/integration/fixtures/esm/js-folder/esm-in-js.fixture.js
  test/integration/fixtures/esm/js-folder/package.json
  test/integration/helpers.js
  test/integration/suite.spec.js
Labels: async, feature, node.js, semver-minor

#4190 docs: show Netlify badge on footer
  docs/_includes/default.html
  docs/css/style.css
Labels: documentation

#4193 upgrade assetgraph-builder, nps
  package-lock.json
  package.json
Labels: security, semver-patch
