Repository mochajs/mocha, pull requests merged in 2020-08, with the labels that each got.

#4394 fix window width problem; closes #4393
  lib/reporters/base.js
Labels: confirmed-bug, semver-patch

#4401 fix: add Mocha to global variable
  rollup.config.js
  test/browser-specific/esm.spec.mjs
Labels: confirmed-bug

#4405 fix: update Code of Conduct governance document link in CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: documentation

#4381 fix broken template processing in jsdoc output
  .eleventy.js
  .gitignore
  docs/.eleventyignore
  docs/API.md
  docs/_data/files.js
  docs/api-tutorials/custom-reporter.md
  jsdoc.conf.json
  package-lock.json
  package-scripts.js
  package.json
Labels: website

#4396 Update dependencies & dev dependencies
  .lintstagedrc.json
  package-lock.json
  package.json
  rollup.config.js
Labels: chore, semver-patch

#4418 prefer all mocha flags over node flags; closes #4417
  lib/cli/node-flags.js
  lib/cli/run-option-metadata.js
  test/node-unit/cli/node-flags.spec.js
Labels: confirmed-bug, semver-patch

#4425 update @mocha/docdash to latest version
  package-lock.json
  package.json
Labels: semver-patch, website

#4432 Fix typo in 8.1.2 changelog
  CHANGELOG.md
Labels: documentation
