Repository mochajs/mocha, pull requests merged in 2020-10, with the labels that each got.

#4459 run all node.js tests on GHA
  .github/workflows/mocha.yml
  .github/workflows/windows-ci.yml
  .travis.yml
  docs/_data/supporters.js
  package-scripts.js
  package.json
Labels: qa

#4409 parallel mode: enable custom worker reporters and object references
  .wallaby.js
  lib/hook.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/reporters/parallel-buffered.js
  lib/nodejs/worker.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/test.js
  lib/utils.js
  package-lock.json
  package.json
  test/node-unit/parallel-buffered-runner.spec.js
  test/node-unit/reporters/parallel-buffered.spec.js
  test/unit/mocha.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/utils.spec.js
Labels: feature, node.js, parallel

#4468 avoid deprecated add-path in GHA workflow
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4465 make guarantees about orphaned processes
  lib/nodejs/buffered-worker-pool.js
  package-lock.json
  package.json
  test/integration/options/parallel.spec.js
Labels: chore, parallel, semver-patch

#4464 Change serializer errors to use error codes
  lib/nodejs/serializer.js
  test/node-unit/serializer.spec.js
Labels: node.js, parallel, semver-minor, usability

#4457 refactor: utils.type()
  lib/nodejs/serializer.js
  lib/runner.js
  lib/utils.js
  test/node-unit/utils.spec.js
  test/unit/utils.spec.js
Labels: chore, semver-patch

#4442 Support multipart extensions like ".test.js"
  lib/cli/lookup-files.js
  test/integration/file-utils.spec.js
Labels: feature, node.js, semver-minor

#4458 chore(deps/security): upgrade to latest stable
  package-lock.json
  package.json
  rollup.config.js
Labels: chore, security

#4472 support leading dots in --extension
  docs/index.md
  lib/cli/lookup-files.js
  test/integration/file-utils.spec.js
  test/integration/options/extension.spec.js
Labels: feature, node.js, semver-minor

#4440 add "fixture flowchart" to docs
  assets/mocha-fixture-wizard.sketch
  docs/_data/supporters.js
  docs/_includes/fixture-wizard.html
  docs/css/style.css
  docs/index.md
Labels: documentation, semver-patch

#4416 fix: the number of concurrent job with --parallel option in mocha:cli:run:helpers
  lib/cli/run-helpers.js
Labels: confirmed-bug, semver-patch

#4477 remove duplicated/problem reporter tests; closes #4469
  test/unit/mocha.spec.js
Labels: qa, semver-patch

#4476 replace promise.allsettled with @ungap/promise-all-settled; closes #4474
  lib/nodejs/parallel-buffered-runner.js
  package-lock.json
  package.json
Labels: confirmed-bug, semver-patch

#4478 chore(deps): chokidar@3.4.3, pin @ungap/promise-all-settled
  package-lock.json
  package.json
Labels: chore, semver-patch

#4485 add node.js v15 to build matrix
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4435 Change assert module's deprecated methods in testing files
  docs/example/debug-hanging-mocha.js
  test/integration/diffs.spec.js
  test/integration/fixtures/current-test-title.fixture.js
  test/integration/fixtures/diffs/diffs.fixture.js
  test/integration/fixtures/no-diff.fixture.js
  test/integration/fixtures/retries/early-pass.fixture.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/no-diff.spec.js
Labels: qa, semver-patch
