Repository mochajs/mocha, pull requests merged in 2020-03, with the labels that each got.

#3660 Fix: listen to 'start' and 'end' events when using Mocha programmatically
  lib/runner.js
  test/unit/mocha.spec.js
Labels: async, confirmed-bug, semver-patch

#4164 Drop node.js v8 support
  .eslintrc.yml
  .github/CONTRIBUTING.md
  .travis.yml
  appveyor.yml
  docs/README.md
  docs/index.md
  package.json
Labels: node.js, semver-major

#4178 Remove deprecated methods
  lib/mocha.js
  test/jsapi/index.js
  test/unit/mocha.spec.js
Labels: semver-major, usability

#4175 Remove configuration via 'mocha.opts'
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.json
  example/config/.mocharc.jsonc
  example/config/.mocharc.yml
  lib/cli/config.js
  lib/cli/options.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocharc.json
  package-scripts.js
  test/integration/fixtures/options/help/test/mocha.opts
  test/integration/fixtures/options/opts.fixture.js
  test/integration/options/help.spec.js
  test/integration/options/opts.spec.js
  test/node-unit/cli/options.spec.js
  test/opts/mocha.opts
  test/opts/opts.spec.js
Labels: node.js, semver-major, usability

#4204 security: update dependencies mkdirp, yargs and yargs-parser
  package-lock.json
  package.json
Labels: security, semver-patch

#4200 Drop mkdirp and replace it with fs.mkdirSync
  .github/CONTRIBUTING.md
  docs/README.md
  docs/index.md
  karma.conf.js
  lib/cli/init.js
  lib/reporters/xunit.js
  package-lock.json
  package.json
  test/integration/file-utils.spec.js
  test/reporters/xunit.spec.js
Labels: node.js, security, semver-major

#4208 add wallaby logo to bottom of site
  docs/_includes/default.html
  docs/css/style.css
  docs/images/wallaby-logo.png
Labels: semver-patch, website

#4211 Update devDependencies and Travis
  .lintstagedrc.json
  .travis.yml
  package-lock.json
  package.json
  test/unit/utils.spec.js
Labels: chore, semver-patch
