Repository mochajs/mocha, pull requests merged in 2020-11, with the labels that each got.

#4490 Correct global fixtures release version in documentation
  docs/index.md
Labels: documentation, semver-patch

#4489 delegate to Node on non-Mocha unhandled rejections
  lib/errors.js
  lib/runner.js
  test/integration/fixtures/uncaught/unhandled.fixture.js
  test/integration/uncaught.spec.js
  test/unit/errors.spec.js
Labels: node.js, semver-patch

#4491 update deps for some vuln which is not applicable to mocha
  package-lock.json
Labels: security, semver-patch

#4496 properly dispose Mocha instance in watch mode; closes #4495
  lib/cli/watch-run.js
  test/integration/helpers.js
  test/integration/options/watch.spec.js
Labels: node.js, semver-patch

#4501 refactor collect-files to be a little more simple
  lib/cli/collect-files.js
Labels: chore, semver-patch

#4500 handful of improvements to integration tests
  test/assertions.js
  test/integration/README.md
  test/integration/helpers.js
Labels: chore, documentation, qa, semver-patch

#4504 wip: run browser tests on gha
  .github/workflows/mocha.yml
  .travis.yml
  karma.conf.js
Labels: browser, qa

#4503 Add GH Actions workflow status badge
  README.md
Labels: documentation

#4519 add test for this.test.error() behavior in "after each" hooks
  test/assertions.js
  test/integration/fixtures/hooks/after-each-hook-async-error.fixture.js
  test/integration/fixtures/hooks/after-each-hook-error.fixture.js
  test/integration/fixtures/hooks/after-each-this-test-error.fixture.js
  test/integration/fixtures/hooks/before-each-hook-async-error.fixture.js
  test/integration/fixtures/hooks/before-each-hook-error.fixture.js
  test/integration/helpers.js
  test/integration/hook-err.spec.js
Labels: qa, semver-patch
