Repository mochajs/mocha, pull requests merged in 2021-02, with the labels that each got.

#4566 Deps: update workerpool to fix failing CI tests
  package-lock.json
  package.json
Labels: chore, dependencies, node.js

#4557 Add file location when SyntaxError happens in ESM (fixes #4551)
  lib/esm-utils.js
  test/integration/esm.spec.js
  test/integration/fixtures/esm/syntax-error/esm-syntax-error.fixture.mjs
Labels: confirmed-bug, usability

#4494 docs: Add example of generating tests with a HOF
  docs/index.md
Labels: documentation, semver-patch

#4569 match supporter's properties with supporter.js
  docs/_includes/supporters.md
Labels: website

#4577 Fix EvalError caused by regenerator-runtime (#4535)
  package-lock.json
  package.json
  rollup.config.js
Labels: browser, confirmed-bug, dependencies, semver-patch
