Repository mochajs/mocha, pull requests merged in 2021-07, with the labels that each got.

#4674 Update production dependencies
  package-lock.json
  package.json
Labels: dependencies, node.js, semver-patch

#4687 fixes #4675: ESM swallowing MODULE_NOT_FOUND errors in case of type:module
  lib/esm-utils.js
  test/integration/esm.spec.js
  test/integration/fixtures/esm/type-module/package.json
  test/integration/fixtures/esm/type-module/test-that-imports-non-existing-module.fixture.js
Labels: confirmed-bug, node.js, semver-patch

#4688 Fix: using custom interface in parallel mode
  lib/cli/run-helpers.js
  lib/errors.js
  test/node-unit/cli/run-helpers.spec.js
Labels: confirmed-bug, parallel, semver-patch

#4702 Fix error rethrow from cwd-relative path js config file
  lib/cli/config.js
  test/integration/config.spec.js
  test/integration/fixtures/config/mocharcWithThrowError.js
Labels: confirmed-bug, semver-patch

#4691 Add new option "node-option"
  bin/mocha
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.yml
  lib/cli/cli.js
  lib/cli/node-flags.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  test/integration/options/node-flags.spec.js
  test/integration/options/timeout.spec.js
  test/node-unit/cli/node-flags.spec.js
Labels: node.js, semver-minor, usability
