Repository mochajs/mocha, pull requests merged in 2021-04, with the labels that each got.

#4617 docs: dynamically generating tests with `top-level await` and ESM test files
  docs/index.md
Labels: documentation, semver-patch

#4616 Run browser tests on forked PRs by a dedicated label
  .github/workflows/browser-test.yml
  .github/workflows/mocha.yml
Labels: qa

#4614 Watch for test files are crashed
  lib/cli/watch-run.js
  test/integration/helpers.js
  test/integration/options/watch.spec.js
Labels: confirmed-bug, node.js, semver-patch

#4629 GH actions: add Node v16
  .github/workflows/mocha.yml
  .github/workflows/stale.yml
Labels: node.js, qa

#4630 Docs: add "options.require" to Mocha constructor for root hooks on parallel runs.
  lib/mocha.js
Labels: documentation, parallel
