Repository mochajs/mocha, pull requests merged in 2021-01, with the labels that each got.

#4542 Update copyright year in LICENSE
  LICENSE
  README.md
Labels: documentation

#4547 Improve CI tests workflow
  .github/workflows/mocha.yml
  package-lock.json
  package.json
Labels: qa

#4550 Fix workflow filter on pull-request events
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4543 Update dependencies yargs and yargs-parser
  bin/mocha
  lib/cli/options.js
  package-lock.json
  package.json
  test/node-unit/cli/options.spec.js
Labels: dependencies, semver-patch

#4555 fix javascript syntax errors
  docs/index.md
Labels: documentation

#4556 chore(deps): upgrade all to latest stable
  lib/cli/config.js
  package-lock.json
  package.json
Labels: dependencies, security, semver-patch
