Repository mochajs/mocha, pull requests merged in 2021-06, with the labels that each got.

#4646 Deprecate "new Runner(suite: Suite, delay: boolean)"
  lib/runner.js
  test/unit/runner.spec.js
Labels: semver-patch, usability

#4640 Add new option "--dry-run"
  docs/index.md
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocha.js
  lib/runner.js
  lib/utils.js
  test/integration/fixtures/options/dry-run/dry-run.fixture.js
  test/integration/options/dryRun.spec.js
  test/integration/reporters.spec.js
  test/reporters/json-stream.spec.js
  test/unit/mocha.spec.js
  test/unit/utils.spec.js
Labels: feature, semver-minor

#4643 Production dependencies update
  package-lock.json
  package.json
  rollup.config.js
Labels: dependencies

#4653 fix: proper version check in hasStableEsmImplementation
  lib/esm-utils.js
Labels: semver-patch, usability

#4657 Browser: add separate build for modern browsers
  .eslintignore
  .eslintrc.yml
  .gitignore
  karma_no-ie11.conf.js
  package-scripts.js
  package.json
  rollup_no-ie11.config.js
Labels: browser, semver-patch, usability

#4664 GH actions: don't run CI tests for 'push' events on tags
  .browserslistrc
  .github/workflows/delete-runs.yml
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4663 Fix: 'karma-mocha' should run both browser bundles
  karma.conf.js
  karma_no-ie11.conf.js
  package-scripts.js
Labels: browser, qa

#4668 Fixes #4665. make "-r <dir>" work with new import-first loading
  lib/esm-utils.js
  test/integration/esm.spec.js
  test/integration/fixtures/esm/dir-cjs-require/index.js
  test/integration/fixtures/esm/test-that-uses-dir-cjs-require.fixture.js/index.js
Labels: confirmed-bug, node.js, semver-patch
