Repository mochajs/mocha, pull requests merged in 2021-09, with the labels that each got.

#4736 ESM: remove code for Node versions <10
  .eslintrc.yml
  lib/cli/run-helpers.js
  lib/mocha.js
  lib/nodejs/esm-utils.js
  lib/utils.js
  package.json
  test/integration/esm.spec.js
  test/integration/options/parallel.spec.js
  test/integration/plugins/root-hooks.spec.js
  test/unit/mocha.spec.js
Labels: chore, semver-patch, node.js

#4734 docs: fix broken table width under 450 screen width
  docs/css/style.css
  docs/index.md
Labels: website

#4737 devDeps: update 'eslint' plus plugins
  .eslintrc.yml
  lib/utils.js
  package-lock.json
  package.json
  scripts/update-authors.js
  test/integration/suite.spec.js
  test/unit/utils.spec.js
Labels: semver-patch, dependencies

#4744 Docs: add complete '--delay' example
  docs/index.md
  package.json
Labels: documentation, semver-patch

#4746 Stop using all global vars in browser entry
  browser-entry.js
  lib/cli/watch-run.js
  test/browser-specific/setup.js
  test/unit/required-tokens.spec.js
Labels: browser

#4755 Docs: Usage of 'root hook' plugins in the browser
  docs/index.md
Labels: browser, documentation, semver-patch

#4754 Remove dependency 'wide-align'
  docs/index.md
  lib/cli/one-and-dones.js
  package-lock.json
  package.json
Labels: chore, semver-patch, dependencies

#4756 Website: improve backers' sprite image
  docs/css/supporters.css
Labels: semver-patch, website
