Repository mochajs/mocha, pull requests merged in 2021-05, with the labels that each got.

#4502 Change CLI file parsing errors to use an error code
  lib/cli/config.js
  lib/cli/options.js
  lib/errors.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/unit/errors.spec.js
Labels: node.js, semver-minor, usability

#4633 Drop support of Node v10
  .github/workflows/mocha.yml
  docs/index.md
  package.json
  test/integration/parallel.spec.js
Labels: node.js, qa, semver-major

#4389 Refactoring: Consuming log-symbols alternate to code for win32 in reporters/base.
  lib/reporters/base.js
Labels: confirmed-bug, semver-major

#4637 GH actions: delete old workflow runs
  .github/workflows/delete-runs.yml
Labels: qa, semver-patch

#4128 Fix: control stringification of error message
  lib/reporters/base.js
  test/reporters/base.spec.js
Labels: confirmed-bug, usability

#4635 import-first loading of test files
  docs/index.md
  lib/esm-utils.js
  test/integration/fixtures/exit.fixture.js
Labels: node.js, refactor, semver-major

#4638 Limit the size of 'actual'/'expected' strings before generating a diff
  lib/reporters/base.js
  test/reporters/base.spec.js
Labels: confirmed-bug, dependencies, performance, semver-major
