Repository mochajs/mocha, pull requests merged in 2021-08, with the labels that each got.

#4707 DevDep: upgrade '@babel/preset-env' and pinning of 'regenerator-runtime'
  package-lock.json
  package.json
Labels: browser, dependencies, semver-patch

#4706 Set CSP on karma to prevent evalError regression
  karma.conf.js
Labels: browser

#4718 GH actions: update 'Stale/close issues and PRs'
  .github/workflows/stale.yml
Labels: chore, semver-patch

#4719 Docs: remove unsupported 'no-timeout' option
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.yml
Labels: documentation, semver-patch

#4714 Docs: `grep()` using RegExp with global flag `/g`
  docs/index.md
  example/config/.mocharc.js
  lib/mocha.js
Labels: confirmed-bug, documentation, semver-patch

#4716 Add new option "fail-zero"
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.yml
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocha.js
  lib/runner.js
  test/integration/options/failZero.spec.js
  test/unit/mocha.spec.js
Labels: feature, semver-minor

#4607 Add output option to JSON reporter (#4131)
  docs/index.md
  example/config/.mocharc.js
  example/config/.mocharc.yml
  lib/reporters/base.js
  lib/reporters/json.js
  test/reporters/json.spec.js
Labels: feature, reporter, semver-minor

#4733 Update some devDependencies
  package-lock.json
  package.json
Labels: semver-patch, dependencies
