Repository mochajs/mocha, pull requests merged in 2021-03, with the labels that each got.

#4574 fix(esm): allow `import` from mocha in parallel
  lib/mocha.js
  test/integration/common-js-require.spec.js
  test/integration/fixtures/common-js-require.fixture.js
  test/integration/fixtures/parallel/test1.mjs
  test/integration/fixtures/parallel/test2.mjs
  test/integration/fixtures/parallel/test3.mjs
  test/integration/parallel.spec.js
Labels: confirmed-bug, parallel, semver-patch

#4579 Remove [skip ci] workaround for GitHub Actions
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4601 Add build to GH actions run
  karma.conf.js
Labels: documentation, semver-patch

#4225 Add reporter options example
  example/config/.mocharc.js
  example/config/.mocharc.json
  example/config/.mocharc.jsonc
  example/config/.mocharc.yml
Labels: documentation, semver-patch

#4596 Filter active sponsors/backers and categorize correctly
  docs/_data/blocklist.json
  docs/_data/supporters.js
  docs/_includes/supporters.md
  docs/index.md
Labels: documentation, website

#4599 fix: make it().timeout() work again
  lib/mocha.js
  test/integration/fixtures/common-js-require.fixture.js
Labels: confirmed-bug, semver-patch

#4608 docs: update missed default extensions
  docs/index.md
Labels: documentation

#4605 Update README incl. sponsors/backers
  README.md
Labels: documentation

#4606 Run eslint check correctly with forked PRs
  .github/workflows/mocha.yml
  .github/workflows/purge-expired-artifacts.yml
Labels: qa, semver-patch

#4613 Migrate from probot/stale to actions/stale
  .github/stale.yml
  .github/workflows/stale.yml
Labels: qa

#4611 Remove unused and incorrect `test.retries(n)`
  lib/interfaces/bdd.js
  lib/interfaces/common.js
  lib/interfaces/qunit.js
  lib/interfaces/tdd.js
Labels: qa, semver-patch
