Repository mochajs/mocha, pull requests merged in 2022-04, with the labels that each got.

#4861 Remove deprecated Runner signature
  lib/runner.js
  test/unit/runner.spec.js
Labels: semver-major, refactor

#4865 Deps: upgrade 'minimatch'
  docs/index.md
  package-lock.json
  package.json
  scripts/karma-rollup-plugin.js
  test/integration/options/ignore.spec.js
Labels: windows, semver-major, dependencies

#4866 Drop support of 'growl' notification
  .github/workflows/mocha.yml
  assets/growl/error.png
  assets/growl/ok.png
  docs/index.md
  lib/browser/growl.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocha.js
  lib/nodejs/growl.js
  package-lock.json
  package-scripts.js
  package.json
  test/unit/mocha.spec.js
Labels: usability, semver-major, refactor

#4871 CI: don't run tests for changes on documentation files
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4873 fix: docs parallel fgrep url fix
  docs/index.md
Labels: documentation

#4872 CI: conditionally skip 'push' event
  .github/workflows/mocha.yml
Labels: qa, semver-patch

#4874 ESM: remove code for Node v12
  lib/nodejs/esm-utils.js
  test/integration/diffs.spec.js
  test/integration/glob.spec.js
  test/integration/no-diff.spec.js
Labels: chore, semver-major, node.js

#4876 ci: add Node 18
  .github/workflows/mocha.yml
Labels: qa, node.js

#4877 refactor: replace git.io short link
  docs/index.md
  lib/cli/commands.js
  lib/cli/run.js
Labels: documentation

#4878 Update dependencies
  package-lock.json
  package.json
Labels: semver-patch, dependencies
