Repository mochajs/mocha, pull requests merged in 2022-01, with the labels that each got.

#4807 Fixes #4803: wrong error thrown if loader is used
  lib/nodejs/esm-utils.js
  test/integration/esm.spec.js
  test/integration/fixtures/esm/loader-with-module-not-found/loader-that-recognizes-ts.mjs
  test/integration/fixtures/esm/loader-with-module-not-found/test-that-imports-non-existing-module.fixture.mjs
  test/integration/fixtures/esm/loader-with-module-not-found/test-that-imports-non-existing-module.fixture.ts
  test/integration/helpers.js
Labels: semver-patch, node.js

#4812 Fix 'linkify-changelog.js' by switching to ESM
  CHANGELOG.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/linkify-changelog.js
  scripts/linkify-changelog.mjs
Labels: chore, semver-patch

#4813 Assign each worker a worker id in parallel mode.
  docs/index.md
  lib/nodejs/buffered-worker-pool.js
  package-lock.json
  package.json
  test/integration/fixtures/parallel/testworkerid1.mjs
  test/integration/fixtures/parallel/testworkerid2.mjs
  test/integration/fixtures/parallel/testworkerid3.mjs
  test/integration/parallel.spec.js
Labels: feature, semver-minor, node.js, parallel

#4816 Update some devDependencies
  package-lock.json
  package.json
  rollup.config.js
  rollup_no-ie11.config.js
Labels: dependencies

#4818 Update dependencies
  package-lock.json
  package.json
Labels: dependencies
