Repository mochajs/mocha, pull requests merged in 2022-03, with the labels that each got.

#4839 Fix: potential call-stack crash when using 'dry-run' option
  lib/runner.js
  test/integration/fixtures/options/dry-run/stack-size.fixture.js
  test/integration/options/dryRun.spec.js
Labels: semver-patch

#4842 Fix: wrong error thrown while loading reporter
  lib/cli/run-helpers.js
  lib/mocha.js
  test/browser-specific/fixtures/webpack/webpack.config.js
  test/node-unit/cli/run-helpers.spec.js
  test/node-unit/mocha.spec.js
Labels: reporter, semver-patch, node.js

#4844 docs: upgrade 11ty to 1.0.0
  docs/index.md
  lib/nodejs/parallel-buffered-runner.js
  lib/runner.js
  package-lock.json
  package.json
Labels: documentation, dependencies

#4845 Drop support of Node v12
  .browserslistrc
  .github/workflows/browser-test.yml
  .github/workflows/mocha.yml
  docs/index.md
  package.json
Labels: qa, semver-major, node.js

#4848 Drop support of IE11
  .browserslistrc
  .eslintignore
  .eslintrc.yml
  .gitignore
  karma.conf.js
  karma_no-ie11.conf.js
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  rollup_no-ie11.config.js
  scripts/karma-rollup-plugin.js
  test/browser-specific/fixtures/webpack/webpack.config.js
Labels: browser, semver-major

#4852 chore: replace deprecated String.prototype.substr()
  lib/reporters/html.js
Labels: browser, reporter, refactor

#4856 devDeps: upgrade 'coffee-script' to 'coffeescript'
  package-lock.json
  package-scripts.js
  package.json
Labels: chore, semver-major, dependencies

#4857 Drop AMD/'RequireJS'
  karma.conf.js
  package-lock.json
  package-scripts.js
  package.json
  test/browser-specific/fixtures/requirejs/lib.fixture.js
  test/browser-specific/fixtures/requirejs/main.fixture.js
  test/browser-specific/requirejs-setup.js
Labels: browser, qa, semver-major

#4859 Site: fix supporters' download
  docs/_data/supporters.js
Labels: confirmed-bug, semver-patch, website
