Repository mochajs/mocha, pull requests merged in 2024-07, with the labels that each got.

#5152 feat: allow ^ versions for yargs packages
  package-lock.json
  package.json
Labels: semver-minor

#5151 feat: allow ^ versions for file matching packages
  package-lock.json
  package.json
Labels: semver-minor

#5046 docs: Add warning about async callback for describe
  docs/index.md
Labels: status: waiting for author

#3825 fix: do not exit when only unref'd timer is present in test code
  lib/runnable.js
  test/integration/fixtures/options/timeout-unref.fixture.js
  test/integration/options/timeout.spec.js
  test/unit/runnable.spec.js
Labels: type: bug, semver-patch, area: node.js, status: in triage

#5040 fix: support canonical module
  lib/utils.js
  test/unit/utils.spec.js
Labels: semver-patch

#4771 feat: add option to not fail on failing test suite
  docs/index.md
  lib/cli/run-helpers.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocha.js
  test/integration/fixtures/failing-sync.fixture.js
  test/integration/options/passOnFailingTestSuite.spec.js
  test/unit/mocha.spec.js
Labels: semver-minor
