Repository mochajs/mocha, pull requests merged in 2024-03, with the labels that each got.

#4829 feat: include `.cause` stacks in the error stack traces
  lib/reporters/base.js
  lib/runner.js
  test/reporters/base.spec.js
  test/unit/runner.spec.js
Labels: semver-minor

#4985 feat: add file path to xunit reporter
  lib/reporters/xunit.js
  test/reporters/xunit.spec.js
Labels: semver-minor

#4869 docs: fix documentation concerning glob expansion on UNIX
  docs/index.md
Labels: area: documentation, status: waiting for author

#5074 fix: harden error handling in `lib/cli/run.js`
  lib/cli/run.js
  test/integration/reporters.spec.js
Labels: status: waiting for author, semver-patch
